---
import Head from "@components/_head.astro";
import Footer from "@components/dashboard/_footer.astro";
import Topbar from "@components/dashboard/_topbar.astro";
import Sidenav from "@components/dashboard/_sidenav.astro";
import Scripts from "@components/_scripts.astro";
import Introduction from "@components/docs/introduction/index.md";
const title = "Introduction | AdminLTE 4";
const path = '../../../dist'
const mainPage = "docs";
const page = "introduction";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <Head title={title} path={path} />
  </head>
  <body class="layout-fixed sidebar-expand-lg bg-body-tertiary">
    <div class="app-wrapper">
      <Topbar path={path} />
      <Sidenav path={path} mainPage={mainPage} page={page} />
      <!-- Main content -->
      <main class="app-main">
        <div class="app-content-header">
          <div class="container-fluid">
            <div class="row">
              <div class="col-sm-6">
                <h3 class="mb-0">Introduction</h3>
              </div>
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-end">
                  <li class="breadcrumb-item"><a href="#">Docs</a></li>
                  <li class="breadcrumb-item active" aria-current="page">
                    Introduction
                  </li>
                </ol>
              </div>
            </div>
          </div>
        </div>
        <!-- Main content -->
        <div class="app-content">
          <div class="container-fluid">
            <Introduction />
          </div><!-- /.container-fluid -->
        </div>
        <!-- /.content -->
      </main>
      <!-- /.app-content -->

      <Footer />
    </div>
    <!--  ./app-wrapper -->

    <Scripts path={path} />
  </body>
</html>
